name: Deploy to AWS S3
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: NodeJS Setup
        uses: actions/setup-node@v6
        with:
          node-version: ${{ secrets.node_version }}

      - name: Dependency Installation
        run: npm install

      - name: App Build
        run: npm run build
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Deploy to AWS S3
        run: aws s3 sync dist s3://${{ secrets.S3_BUCKET_NAME }} --delete

      - name: Install Postman CLI 
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run Cloudflare Clear Cache Collection
        run: |
          postman collection run "39583889-86d4158c-fe43-4e78-8aa8-d7c0924479d4"
      #New comment :)!